/* ---------------- MAIN ELEMENTS ----------------  */
body
{
    font-family: 'Raleway', sans-serif;
    font-size: smaller;
}

#content
{
    width: 1300px;
    margin: auto;
}

.primary-blue
{
    color: #0065FC;
}

.secondary-blue
{
    color: #DEEBFF;
}

.background-grey
{
    background-color: #F2F2F2;
}

/* ---------------- HEADER ----------------  */
header
{
    display: flex;
    justify-content: space-between;
}

/* ---------------- LOGO ----------------  */

#logo
{  
    padding-top: 30px;
}

/* ---------------- NAVIGATION ----------------  */
nav
{
    display: flex;
    align-items: flex-start;
}
nav ul
{
    list-style-type: none;
    display: flex;   
    margin-block-end: 0;
    margin-block-start: 0;
    align-items: center;
}

nav li
{ 
    border-top: 4px solid #FFFFFF; 
    width: 120px;
    min-width: 100px;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

nav a 
{
    font-size: 1.2em;
    color: #181818;   
    text-decoration: none;  
}

nav li:hover
{
    border-top: 4px solid #0065FC;  
    transition: 500ms;
}

nav li:hover a
{
    color: #0065FC;
    transition: 500ms;
}

#inscription_nav:hover
{
    border-top: 4px solid #FFFFFF;
    transition: 500ms;
}

/* ---------------- SEARCH ----------------  */
#search_section
{
    margin-top: 30px;
}

#search_section h1
{
    margin-block-end: 0.4em;
    margin-block-start: 0.4em;
}

#search_form
{
    display: flex;
    align-items: center;  
    margin-top: 10px;  
}

#search_form i
{
    padding: 15px;
    font-size: 1.25em;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
}

#search_form form
{
    display: flex;
}

#search_location
{
    height: 45px;
    padding-left: 20px;
    font-size: 1.2em;
    border-bottom: 1px solid #F2F2F2;
    border-top: 1px solid #F2F2F2;
    border-left: 0;
    border-right: 0;
}

#search_button
{
    height: 45px;
    padding: 0 20px 0 20px;
    font-size: 1.2em;
    color: #FFFFFF;
    border-radius: 0 15px 15px 0;
    background-color:#0065FC;
    border-bottom: 1px solid #0065FC;
    border-top: 1px solid #0065FC;
    border-left: 0;
    border-right: 0;
}

#search_button:hover
{
    opacity: 0.7;
    cursor: pointer;
    transition: 500ms;
}


/* ---------------- FILTERS ----------------  */
#filters
{
    display: flex;
    margin-top: 20px;
    align-items: center;
}

#list_filters
{
    display: flex;
    padding-inline-start: 0;
    list-style-type: none;
    
}

.filter
{
    display: flex;
    margin-left: 25px;
    height: 50px;
    background-color: #FFFFFF;
    border: 3px solid #F2F2F2;
    border-left: 0;
    border-radius: 50px;
    align-items: center;
    cursor: pointer;
}
.filter i
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon_filter
{
    border-radius: 50%;
    border: 3px solid #DEEBFF;
    background-color: #DEEBFF;
    color: #0065FC;
    font-size: 1.4em;
    width: 50px; 
    height: 50px;     
}

.filter p
{
    margin: 0 10px;
    font-size: 1.2em;
    font-weight: 900;
    text-transform: capitalize;
}

.filter:hover
{
    border: 3px solid #DEEBFF;
    border-left: 0;
    transition: 500ms;
}

.filter:hover .icon_filter
{
    background-color: #0065FC;
    color: #DEEBFF;
    transition: 500ms;
}
.filter:hover p
{
    color: #0065FC;
}


#information
{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

#info_icon
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    color: #0065FC;
    border: 2px solid #DEEBFF;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

#information p
{
    margin-left: 10px;
}
/* ---------------- ACCOMMODATIONS SECTION ----------------  */
.img_accommodation
{
    width: 250px;
    height: auto;
}

#accommodation_section
{
    display: flex;
}

.accommodation_items ul
{
    display: flex;
    flex-wrap:wrap;
    list-style-type: none;
}

.accommodation_items ul li
{
    margin: 5px;
}